<div class="nav pull-right">
    <!--<li><a href="signin" data-bind="text: signInText, click: showManageUserUi"></a></li>-->
    <a href="signin" data-bind="text: signInText, click: showManageUserUi"></a>
</div>
<div id="manageUserUi" class="userManager" style="display: none">
    <div data-bind="visible: !isAuthenticated()">
        <div>
            <input type="text" placeholder="email" data-bind="value: email" />
        </div>
        <div>
            <input type="password" placeholder="password" data-bind="value: password" />
        </div>
        <div>
            <button class="btn" data-bind="click: signIn, value: signInButtonLabel">@Resources.SignIn</button>
        </div>
        <div>
            <button class="btn" data-bind="click: register, value: registerButtonLabel">@Resources.Register</button>
        </div>
    </div>
    <div data-bind="visible: isAuthenticated()">
        <div>
            <button class="btn" data-bind="click: signOut, value: signOutButtonLabel">@Resources.SignOut</button>
        </div>
    </div>
</div>
