<section>
    <!--    <h2 class="page-title" data-bind="text: title"></h2>-->
    <div class="row-fluid">
        <div class="span3">
            Images and media here?
        </div>
        <div class="span9">
            <input type="text" data-bind="value: blogTitle, valueUpdate: 'afterkeydown'" placeholder="Add a Title" class="blogTitle"/>
            <!--<textarea data-bind="tinymce: blogEntry, tinymceOptions: { theme: 'advanced' }, valueUpdate: 'afterkeydown'" class="blogEntry" ></textarea>-->
            <textarea data-bind="value: blogEntry, valueUpdate: 'afterkeydown'" class="blogEntry" ></textarea>
            <input type="text" value="tags" class="blogTags"/>
        </div>
    </div>
</section>
