<section>
    <!--    <h2 class="page-title" data-bind="text: title"></h2>-->
    <div class="row-fluid">
        <div class="span8">
            <div id="mainsection" data-bind="with: blogPosts">
                <ul id="posts" data-bind="foreach: posts">
                    <li>
                        <div class="postHeader">
                            <h3 class="postTitle"><a href="#" data-bind="text: postTitle"></a></h3>
                            <div data-bind="text: postCreated" class="postDate"></div>
                        </div>
                        <div style="clear: both"></div>
                        <div data-bind="text: postBody, click: function () { debugger; }" class="postBody"></div>
                        <div data-bind="visible: $root.isAuthenticated" class="postAdmin">
                            <input type="button" data-bind="value: deleteButtonTitle" />
                        </div>
                    </li>
                </ul>
            </div>
    </div>
    <div class="span4">
    </div>
    </div>
</section>
