<nav class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="/">
            <span class="title">Itsa Knockout</span>
        </a>
        <div class="nav-collapse">
            <ul class="nav" data-bind="foreach: router.visibleRoutes">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="    css: { active: isActive }, attr: { href: hash }, text: name" class="" href="#"></a>
                </li>
            </ul>
            <!-- ko compose:  'viewmodels/authentication'  -->
            <!--/ko-->
        </div>
    </div>
</nav>

