<ul class="nav">
    <li>
        <div class="nav-container">
            <a href="javascript: void 0" data-bind="click: save, text: savePostLabel"></a>
        </div>
    </li>
    <li>
        <div class="nav-container">
            <a href="javascript: void 0" data-bind="click: saveDraft, text: saveDraftPostLabel"></a>
        </div>
    </li>
    <li>
        <div class="nav-container">
            <a href="javascript: void 0" data-bind="click: cancel, text: cancelPostLabel"></a>
        </div>
    </li>

</ul>
