@using ItsaWeb.Resources
<style>
</style>
<li>
    <div class="postHeader">
        <h3 class="postTitle"><a href="#" data-bind="text: postTitle"></a> </h3>
        <div data-bind="text: postCreated" class="postDate"></div>
    </div>
    <div style="clear: both"></div>
    <div data-bind="text: postBody" class="postBody"></div>
    <div data-bind="visible: $root.isAuthenticated" class="postAdmin">
        <input type="button" value="@Resources.DeletePost" data-bind="click: deletePost"/>
    </div>
</li>
