@model dynamic

@{
    ViewBag.Title = "Administration";
}

<h2>title</h2>

<span id="username" data-bind="text: userName"></span>
<input type="checkbox" id="allowComments" data-bind="checked: allowComments" /><br/>
<input type="button" id="addBlogEntry" value="Add Blog Entry" data-bind="click: addBlogEntry" />

@section scripts
{
    <script type="text/javascript" src="~/Scripts/Itsa/admin.js"></script>
}
