@using ItsaWeb.Resources
@model dynamic

@{
    ViewBag.Title = Resources.ItsaHomeTitle;
}

<h2>title</h2>


@section scripts
{
    <script type="text/javascript" src="~/Scripts/Itsa/home.js"></script>
}
