@{
    ViewBag.Title = Resources.ItsaHomeTitle;
}
<div class="row-fluid">
    <div class="span8">
        <div id="mainsection" data-bind="with: blogPosts">
            <ul id="posts" data-bind="foreach: posts">
                @Html.Partial("_BlogEntry")
            </ul>
        </div>
    </div>
    <div class="span4">
    </div>
</div>

<div id="manageUserUi" class="userManager" style="display: none" data-bind="with: manageUser">
    <div data-bind="visible: !isAuthenticated()">
        <div>
            <input type="text" placeholder="email" data-bind="value: email"/>
        </div>
        <div>
            <input type="password" placeholder="password"  data-bind="value: password"/>
        </div>
        <div>
            <button class="btn" data-bind="click: signIn">@Resources.SignIn</button>
        </div>
        <div>
            <button class="btn" data-bind="click: register">@Resources.Register</button>
        </div>
    </div>
    <div data-bind="visible: isAuthenticated()" >
        <div>
            <button class="btn" data-bind="click: signOut">@Resources.SignOut</button>
        </div>
    </div>
</div>
