/*font-family: 'Ropa Sans', cursive;
font-family: 'Asap', sans-serif;*/
/* #region HTML RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  margin: 0;
}
/* #endregion */
pre {
  border: none;
  background-color: white;
}
html {
  padding: 0;
  color: black;
  /*background: #EFEFEF;*/

}
body {
  font-size: 18px;
  margin: 0 auto;
  /*background-color: transparent;*/

  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}
h1,
h2,
h3 {
  letter-spacing: -1px !important;
  color: #0072c6;
  text-transform: none;
}
section.main {
  margin-top: 50px;
}
.navbar .brand {
  padding: 6px 30px 12px 30px;
  margin-bottom: -8px;
  height: 48px;
}
h2.page-title {
  font-size: 32px;
}
.brand .title {
  float: left;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  margin: 0;
  padding-left: 20px;
  text-transform: uppercase;
  text-transform: initial;
  text-decoration: none;
  color: #ffffff;
  background-color: #0072c6;
}
span.title {
  /*background: url(/content/images/icon.png) no-repeat left center;*/

  -moz-background-size: 45px;
  -o-background-size: 45px;
  -webkit-background-size: 45px;
  background-size: 45px;
}
.page-splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  opacity: 0.2;
  pointer-events: auto;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
.page-splash-message {
  text-align: center;
  margin: 10% 0 0 0;
  font-size: 400%;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: normal;
  -webkit-text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  text-decoration: none;
  font-family: monospace;
  color: #F58A00;
  padding: 0;
}
.page-progress-bar {
  margin: 10% 30% 0 30%;
}
.toast {
  font-weight: normal;
}
.toast-info {
  background-color: #194D7B;
}
.toast-bottom-right {
  bottom: 50px;
}
.navbar-content-center {
  text-align: center;
}
footer a {
  font-weight: normal;
}
footer span {
  padding: 10px 80px;
  font-size: 18px;
}
/***************************/
/* Boostrap overrides      */
.navbar-fixed-bottom .navbar-inner {
  -webkit-box-shadow: 0 1px 10px rgba(255, 255, 255, 0);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0);
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: 0 1px 10px rgba(255, 255, 255, 0);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0);
}
.navbar-inner {
  padding-bottom: 0px;
  background-image: linear-gradient(to bottom, #0072c6, #0072c6);
}
.navbar .nav .nav-container {
  margin: 10px 0;
}
.navbar .nav > .active > a {
  background-color: #0072c6;
  color: white;
  display: inline-block;
  margin: 0 15px 0 0;
}
a,
a:hover,
a:focus {
  color: white;
  padding-right: 15px;
}
.navbar .nav > li {
  font-family: 'Segoe UI', 'Segoe UI Web Regular', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;
  font-size: 14px;
  margin-top: 2px;
  text-transform: none;
}
.navbar .nav .nav-icon {
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  width: 14px;
}
.navbar .nav .nav-icon-home {
  background-image: url("/Content/images/glyphicons-halflings-white.png");
  background-position: 0px -25px;
}
.navbar .nav .nav-icon-new {
  background-image: url("/Content/images/glyphicons-halflings-white.png");
  background-position: 0px -97px;
}
/*.navbar .btn, .navbar .btn-group {
    margin-top: 16px;
}

.navbar-fixed-top .navbar-inner {
    padding-left: 1em !important;
    padding-right: 1em !important;
    padding-top: 0;
    padding-bottom: 0;
    border-width: 0;
}

.navbar-fixed-bottom .navbar-inner {
	padding: 6px;
}

.navbar {
    text-transform: uppercase;
}

.loader .page-progress-bar {
    margin: 14px 0 0 0 ;
}

.loader {
    visibility: hidden;
}
.loader.active {
    visibility: visible;
}

.btn {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-info {
    background-color: @background-color;
    background-image: -moz-linear-gradient(top,#77CCFF,#194D7B);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#77CCFF),to(#194D7B));
    background-image: -webkit-linear-gradient(top,#77CCFF,#194D7B);
    background-image: -o-linear-gradient(top,#77CCFF,#194D7B);
    background-image: linear-gradient(to bottom,#77CCFF,#194D7B);
    background-repeat: repeat-x;
    border-color: #77CCFF #2f96b4 #194D7B;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff77CCFF', endColorstr='#ff194D7B', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
        color: white;
        background-color: @background-color;
        *background-color: @background-color;
        background-color: #194D7B;
        *background-color: #194D7B;
    }

    .btn-info:active,
    .btn-info.active {
        background-color: @background-color;
        background-color: #194D7B;
    }*/
/* End Boostrap overrides  */
/***************************/
@media only screen and (max-width: 979px) {
  .page-splash-message {
    font-size: 150%;
  }
  .navbar-fixed-bottom {
    position: fixed;
  }
  footer span {
    padding: 10px 50px;
    font-size: 14px;
  }
}
.nav.pull-right .authentication {
  margin: 10px;
}
#manageUserUi .close {
  background-image: url("/Content/images/glyphicons-halflings.png");
  background-position: -313px 0px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 14px;
}
.postAdmin .delete {
  margin: 10px 10px 0 0;
  background-image: url("/Content/images/glyphicons-halflings.png");
  background-position: -456px 0px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 14px;
  cursor: pointer;
}
.postAdmin .edit {
  margin: 10px 10px 0 0;
  background-image: url("/Content/images/glyphicons-halflings.png");
  background-position: 0px -72px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 14px;
  cursor: pointer;
}
#blogTitle {
  font-size: 192%;
  border: none;
  width: 100%;
  height: 50px;
  margin: 10px 0 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#blogEntry {
  width: 100%;
  height: 100%;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#blogTags {
  width: 100%;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: lightgray;
  height: 40px;
}
.disableLink,
.disableLink:hover {
  color: lightgray;
  cursor: default;
  text-decoration: none;
}
