@using ItsaWeb.Resources
@using ItsaWeb.Models
@model UserViewModel

@{
    ViewBag.Title = Resources.AdminTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.AdminTitle</h2>

<h1 id="username">@Model.Name</h1>
